basicConstraints             = CA:FALSE
subjectKeyIdentifier         = hash
authorityKeyIdentifier       = keyid,issuer:always
authorityInfoAccess          = OCSP;URI:http://cas.com/public/ocsp
nsCaRevocationUrl            = http://cas.com/public/crl
